In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
spark_session = (SparkSession.builder
                 .master('local')
                 .appName('my_task')
                 .config(conf=SparkConf())
                 .getOrCreate())

In [3]:
spark_session

In [4]:
import pandas as pd
from sklearn import set_config
pd.options.display.float_format = '{:.2f}'.format
set_config(display="diagram")

In [14]:
path = './data.tsv'

In [15]:
df= pd.read_csv(path, sep='\t')

In [16]:
df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0054452,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0072562,tt0077975,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0069467"
...,...,...,...,...,...,...
12672919,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt2455546,tt14069590"
12672920,nm9993716,Essias Loberg,\N,\N,NaN,\N
12672921,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
12672922,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
12672923,nm9993719,Andre Hill,\N,\N,NaN,\N

In [8]:
data=[1,2,3,4,5]
rdd=spark_session.sparkContext.parallelize(data)

In [9]:
rdd.collect()

[1, 2, 3, 4, 5]

In [10]:
import pyspark.sql.types as t

data=[("bohdan",5),("ostin",36)]
schema=t.StructType([
    t.StructField("name", t.StringType(), True),
    t.StructField("age", t.StringType(), True)])
df=spark_session.createDataFrame(data,schema)

In [11]:
df.show()

+------+---+
|  name|age|
+------+---+
|bohdan|  5|
| ostin| 36|
+------+---+

In [ ]:
import sys
print(sys.version)

In [ ]:
import pyspark
print(pyspark.__version__)

NameError: name 'python' is not defined